.fixed {
    position: fixed;
}

.block {
    display: block;
}

@keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
  }
  
  /* Áp dụng animation cho phần tử */
  .navMoveDown {
    animation: slideDown 0.3s ease-in forwards;
  }

  .navMoveUp {
    animation: slideUp 0.3s ease-out forwards;
  }

  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .nav-btn:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .nav-btn:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  
  
  