.App {
  text-align: center;
  background-image: url(./img/Hinh-nen-trang-Dien-thoai-41.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hotProduct-title {
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.GrapperOne {
  animation: hovering 4s ease-in-out infinite;
}

.GrapperTwo {
  animation: hovering 4s ease-in-out infinite;
  animation-delay: 0.15s;
}

.GrapperThree {
  animation: hovering 4s ease-in-out infinite;
  animation-delay: 0.25s;
}

@keyframes hovering {
  0% {
    transform: 0;
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}